/HW 5/ZombieCrushSagaLevelEditor/build/
/HW 5/ZombieCrushSaga/dist/
/HW 1/AnagramGame/nbproject/private/
/HW 1/Deadlock/build/
/HW 1/Deadlock/nbproject/private/
/HW 1/Gallery/build/
/HW 1/Gallery/nbproject/private/
/HW 1/HelloWorld/build/
/HW 1/HelloWorld/nbproject/private/
/HW 1/MyApp/nbproject/private/
/HW 1/MyLib/nbproject/private/
/HW 1/library/nbproject/private/
/HW 2/Jotto/build/
/HW 2/Jotto/dist/
/HW 2/Jotto/nbproject/private/
/HW 2/PropertiesManager/build/
/HW 2/PropertiesManager/dist/
/HW 2/PropertiesManager/nbproject/private/
/HW 2/XMLUtilities/build/
/HW 2/XMLUtilities/dist/
/HW 2/XMLUtilities/nbproject/private/
/HW 3/AudioManager/build/
/HW 3/AudioManager/dist/
/HW 3/AudioManager/nbproject/private/
/HW 3/MahjongSolitaire/build/
/HW 3/MahjongSolitaire/dist/
/HW 3/MahjongSolitaireLevelEditor/build/
/HW 3/MahjongSolitaireLevelEditor/dist/
/HW 3/MahjongSolitaireLevelEditor/nbproject/private/